name: development for base images
on:
    pull_request:
        types:
            - created
            - opened
            - edited
            - synchronize
            - reopened
    workflow_call:

jobs:
    build-base-images-for-branch:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            -   uses: actions/checkout@v3

            -   name: Login to GitHub Container Registry
                uses: docker/login-action@v1
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}

            -   name: Build and push base images for this branch (dev and prod)
                run: |
                    echo ${GITHUB_HEAD_REF}
                    docker build . -f php-fpm/build/Dockerfile --build-arg BASE_IMAGE_PHP="php:8.0.27-fpm-buster" --target dev-base --tag ghcr.io/cbrooney/base-php-fpm-dev:${GITHUB_HEAD_REF}
                    docker push ghcr.io/cbrooney/base-php-fpm-dev:${GITHUB_HEAD_REF}
                    docker build . -f php-fpm/build/Dockerfile --build-arg BASE_IMAGE_PHP="php:8.0.27-fpm-buster" --target prod-base --tag ghcr.io/cbrooney/base-php-fpm-prod:${GITHUB_HEAD_REF}
                    docker push ghcr.io/cbrooney/base-php-fpm-prod:${GITHUB_HEAD_REF}
#                    docker build . -f php-fpm/build/Dockerfile --build-arg BASE_IMAGE_PHP="php:8.0.27-fpm-buster" --target dev-base --tag ghcr.io/cbrooney/base-php-fpm-dev:8.0.27
#                    docker push ghcr.io/cbrooney/base-php-fpm-dev:8.0.27
#                    docker build . -f php-fpm/build/Dockerfile --build-arg BASE_IMAGE_PHP="php:8.0.27-fpm-buster" --target prod-base --tag ghcr.io/cbrooney/base-php-fpm-prod:8.0.27
#                    docker push ghcr.io/cbrooney/base-php-fpm-prod:8.0.27
#                    docker build . -f nginx/build/Dockerfile --build-arg BASE_IMAGE_NGINX="nginx:alpine" --tag ghcr.io/cbrooney/bruni-home-nginx:${GITHUB_HEAD_REF}
#                    docker push ghcr.io/cbrooney/bruni-home-nginx:${GITHUB_HEAD_REF}
